<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConnectUs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body >
  <header>
    <h1 class="name">
        <a href="/" style="text-decoration: none">
            ConnectUs
        </a>
    </h1>
    <nav>
    <ul>
        <li>
        <a href="/login">Login</a>
        </li>
    </ul>
    </nav>
  </header>
   <!-- hero/jumbotron -->
  <section class="hero">
      <div class="button-holder">
      <button type="submit" class="create-btn">Create Event</button>
      </div>
  </section>
  <main>
	{{{ body }}}
  </main>
  <footer>
        © 2021 ConnectUs
  </footer>
</body>

</html>