<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConnectUs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body >
  <header>
    <h1 class="name">
      <a href="./index.html" style="text-decoration: none">
        connect<b>Us</b>
  </h1>
    <nav>
      <!-- Unordered list element -->
      <ul>
        <!-- List item element-->
        <li>
          <!-- Anchor element -->
        <li>
          <i class="fas fa-user"></i><a href="./login.html">Login/Signup</a>
        </li>
      </ul>
    </nav>
  </header>
  </header>
    <main>
       <!-- hero/jumbotron -->
        <section class="hero">
          <div class ="page-subtitle">
            <button type="button" class="btn btn-outline-secondary">Create an Event</button>
          
        </section>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>