{{#if events}}
<section>
  <h2>{{ title }}</h2>
  <ol>
    {{#each events}}
    <li>
      {{> events-info this}}
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<div>No events found.</div>
{{/if}}

<script src="/javascript/add-post.js"></script>