{{#if events.length}}
<section>
  <h2>All Posts</h2>
  <ol>
    {{#each events as |event|}}
    <li>
      {{> events-info event}}
      <a href="/api/events/{{events.id}}" class="view-link">View event</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>