<form class = 'create-form'>
    <div>
        <label for='event-name'>Name of Event:</label>
        <input type="text" id="event-name"
    </div>
        <div>
        <label for='event-description'>Describe Your Event:</label>
        <input type="text" id="event-description"
    </div>
        <div>
        <label for='event-date'>Date:</label>
        <input type="date" id="event-date"
    </div>
        <div>
        <label for='event-location'>Location:</label>
        <input type="text" id="event-location"
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
<script src="/javascript/create-event.js"></script>