 <!-- navigation -->
      

  <main class="flex-row justify-space-between">
    <div class="col-12 col-md-4">
      <div class="card">
        <h3 class="card-header text-uppercase">Search By Name</h3>
        <form id="user-form" class="card-body">
          <input name="username" id="username" type="text" autofocus="true" class="form-input" />
          <button type="submit" class="btn">Find</button>
        </form>
      </div>
      <div class="card">
        <h3 class="card-header text-uppercase">Discover By Topic</h3>
     
        <div class="card-body" id="search-buttons">
            <a href="./allevents.html" class="btn" role="button">All</a>
            <button type="button" class="btn" filter="created">Events I'm Hosting</button>
            <button type="button" class="btn" filter="attending">Events I'm Attending</button>
            <button type="button" class="btn" filter="today">Today</button>
            <button type="button" class="btn" filter="week">This Week</button>
            <button type="button" class="btn" filter="new">New</button>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-8">
      
      <div id="repos-container" class="list-group"></div>
    </div>
  </main>
  </div>